<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="topicBusClient" type="JetBlack.TopicBus.Config.ClientConfigurationSectionHandler, JetBlack.TopicBus" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <topicBusClient release="PRD" debug="DEV">
    <add name="DEV" host="localhost" port="9121" serializer="JetBlack.TopicBus.IO.BinarySerializer, JetBlack.TopicBus" />
    <add name="PRD" host="localhost" port="9121" serializer="JetBlack.TopicBus.IO.BinarySerializer, JetBlack.TopicBus" />
  </topicBusClient>

  <log4net>

  	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    	<layout type="log4net.Layout.PatternLayout">
        	<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    	</layout>
	</appender>

  	<root>
  		<level value="ALL" />
  		<appender-ref ref="ConsoleAppender" />
  	</root>

  </log4net>

</configuration>