<?xml version="1.0"?>
<configuration>

  <configSections>

    <sectionGroup name="spring">
    	<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
    	<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>

    <sectionGroup name="common">
    	<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

  </configSections>

  <spring>
  	
  	<context>
  		<resource uri="config://spring/objects" />
  	</context>

  	<objects xmlns="http://www.springframework.net">
  		
  		<object id="ByteEncoder" type="JetBlack.TopicBus.IO.BinaryEncoder, JetBlack.TopicBus" />

  		<object id="ClientConfig" type="JetBlack.TopicBus.Config.ClientConfig, JetBlack.TopicBus">
  			<property name="Host" value="localhost" />
  			<property name="Port" value="9121" />
  			<property name="ByteEncoder" ref="ByteEncoder" />
  		</object>

  	</objects>

  </spring>

  <common>
  	<logging>
  		<factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1213">
  			<arg key="configType" value="INLINE" />
  		</factoryAdapter>
  	</logging>
  </common>

  <log4net>

  	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    	<layout type="log4net.Layout.PatternLayout">
        	<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    	</layout>
	</appender>

  	<root>
  		<level value="ALL" />
  		<appender-ref ref="ConsoleAppender" />
  	</root>

  </log4net>

    <runtime>
     <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
           <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" />
           <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2.3.1.0"/>
        </dependentAssembly>
     </assemblyBinding>
  </runtime>

</configuration>